
<!DOCTYPE html>
<html>
<head>
<title>Tic Tac Toe</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Tic Tac Toe</h1>
<div id="board">
<table>
<tr>
<td><a href="/game?move=00">{{ board[0][0] }}</a></td>
<td><a href="/game?move=01">{{ board[0][1] }}</a></td>
<td><a href="/game?move=02">{{ board[0][2] }}</a></td>
</tr>
<tr>
<td><a href="/game?move=10">{{ board[1][0] }}</a></td>
<td><a href="/game?move=11">{{ board[1][1] }}</a></td>
<td><a href="/game?move=12">{{ board[1][2] }}</a></td>
</tr>
<tr>
<td><a href="/game?move=20">{{ board[2][0] }}</a></td>
<td><a href="/game?move=21">{{ board[2][1] }}</a></td>
<td><a href="/game?move=22">{{ board[2][2] }}</a></td>
</tr>
</table>
</div>
<p>Current player: {{ current_player }}</p>
<p>Game state: {{ game_state }}</p>
<a href="/reset">Reset game</a>
</body>
</html>


