

<!DOCTYPE html>
<html>
<head>
<title>Tic Tac Toe</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>Tic Tac Toe</h1>
<div id="board">
<div class="cell" id="00">{{ move }}</div>
<div class="cell" id="01">{{ computer_move }}</div>
<div class="cell" id="02"></div>
<div class="cell" id="10"></div>
<div class="cell" id="11"></div>
<div class="cell" id="12"></div>
<div class="cell" id="20"></div>
<div class="cell" id="21"></div>
<div class="cell" id="22"></div>
</div>
<form action="/winner" method="post">
<input type="hidden" name="winner" id="winner">
<input type="submit" value="Declare Winner">
</form>
</body>
</html>


