

<!DOCTYPE html>
<html>
<head>
<title>Tic Tac Toe</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>Tic Tac Toe</h1>
<div id="game-board">
<div class="square" data-row="0" data-col="0"></div>
<div class="square" data-row="0" data-col="1"></div>
<div class="square" data-row="0" data-col="2"></div>
<div class="square" data-row="1" data-col="0"></div>
<div class="square" data-row="1" data-col="1"></div>
<div class="square" data-row="1" data-col="2"></div>
<div class="square" data-row="2" data-col="0"></div>
<div class="square" data-row="2" data-col="1"></div>
<div class="square" data-row="2" data-col="2"></div>
</div>
<div id="controls">
<button id="new-game">New Game</button>
<button id="quit">Quit</button>
</div>
</body>
</html>


